<!DOCTYPE html>
<html lang="end">
    <head>
        <%- include('../partials/head.ejs'); %> 
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs'); %>
        </header>

        <main >
            <h1>Add Candidate</h1>
        
            <div>
            <label>Candidate Name:</label>
            <input type="text" placeholder="Enter you name"/>
            </div>
            <br>
            <div>
                <button type="submit" >Add Candidate</button>
            </div>


        </main>
        <footer>
            <%- include('../partials/footer.ejs'); %>
        </footer>
    </body>
</html>