<!DOCTYPE html>
<html lang="end">
    <head>
        <%- include('../partials/head.ejs'); %> 
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs'); %>
        </header>
        <main>
            <h1>Poll Result</h1>
            <div>
            <label>Won:</label>
            <label>Deep Goyal(23)</label>
            </div>
            <div>
            <label>Lost:</label>
            <label>Akshay Singh(18)</label>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer.ejs'); %>
        </footer>
    </body>
</html>