<!DOCTYPE html>
<html lang="end">
    <head>
        <%- include('../partials/head.ejs'); %> 
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs'); %>
        </header>
        <main>
            <h1>Voting Report</h1>
            <div>
                <label>Deep Goyal: 23</label>
            </div>
            <div>
                <label>Sneha Mohan: 5</label>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer.ejs'); %>
        </footer>
    </body>
</html>